html {
    background-repeat: no-repeat;
    background-image: linear-gradient(-90deg, #1dd393, #00f59f, #1dd393);
    overflow-x: hidden;
    overflow-y: scroll;
    font-family: 'Rubik', sans-serif;
    color: #ffffff;
}
input {
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
}
.links {
    text-decoration: none;
    color: #ffffff;
    font-family: 'Nunito', sans-serif;
    font-size: 14px;
    font-weight: 800;
    background-color: transparent;
    border: none;
    cursor: pointer;
    position: fixed;
}
.signInlink {
    text-decoration: none;
    color: #ffffff;
    font-family: 'Nunito', sans-serif;
    font-size: 14px;
    font-weight: 800;
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-left: 505px;
    margin-top: -35px;
    display: flex;
    align-items: center;
    list-style-type: none;
}
.logoutlink {
    text-decoration: none;
    font-family: 'Nunito', sans-serif;
    font-size: 12px;
    font-weight: 800;
    text-transform: uppercase;
    color: 	#ff3333;
    border: 1px solid #ffffff;
    background-color: #ffffff;
    box-shadow: 0px 3px 5px #c3c3c3;
    padding: 7px;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    align-items: center;
    list-style-type: none;
}
.signUpFromSignIn {
    text-decoration: none;
    font-family: 'Nunito', sans-serif;
    font-size: 12px;
    font-weight: 800;
    text-transform: uppercase;
    margin-left: 7px;
    color: 	#18bb82;
}
.signup-form {
    height: auto; /*696px;*/
    width: auto; /*390px;*/
    background-color: #ffffff;
    border-radius: 4px;
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    font-size: 12px;
    padding: 32px;
    display: inline-block;
}
.signin-form {
    width: 317px;
    background-color: #ffffff;
    border-radius: 4px;
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    font-size: 12px;
    padding: 14px;
    display: inline-block;
}
.signUpPrompt {
    margin-left: 60px;
}
.signUpPromptSignUp {
    margin-left: 80px;
}
.check-and-main-point {
    display: flex;
    align-items: center;
}
.main-point-div-alt {
    margin-left: 10px;
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    font-weight: 600;
}
.sub-point-div-alt {
    font-family: 'Nunito', sans-serif;
    font-size: 14px;
}
.left_style {
    margin-right: 10px;
}
.success_statement {
    color: #ffffff;
    position: relative;
}
.main_title {
    font-size: 35px;
    color: #ffffff;
    margin-left: 165px;
    margin-top: 82.5px;
}
.main_content {
    font-size: 16px;
    font-family: 'Roboto', sans-serif; 
    margin-left: 165px;
    margin-top: -10px;
    line-height: 1.7;
}
.contact_link_1 {
    text-decoration: none;
    font-family: 'Nunito', sans-serif;
    font-size: 14px;
    font-weight: 800;
    text-transform: uppercase;
    color: 	#18bb82;
    border: 1px solid #ffffff;
    background-color: #ffffff;
    box-shadow: 0px 3px 5px #888888;
    padding: 10px;
    margin-top: 100px;
    border-radius: 4px;
    margin-left: 165px;
    line-height: 10;
}
.contact_link_2 {
    text-decoration: none;
    font-family: 'Nunito', sans-serif;
    font-size: 14px;
    font-weight: 800;
    text-transform: uppercase;
    color: 	#18bb82;
    border: 1px solid #ffffff;
    background-color: #ffffff;
    box-shadow: 0px 3px 5px #888888;
    padding: 10px;
    margin-top: 100px;
    border-radius: 4px;
    margin-left: 15px;
}
.contact_link_div {
    margin-top: 230px;
    margin-left: 20px;
}
.contact_link_3 {
    text-decoration: none;
    font-family: 'Nunito', sans-serif;
    font-size: 14px;
    font-weight: 800;
    text-transform: uppercase;
    color: 	#18bb82;
    border: 1px solid #ffffff;
    background-color: #ffffff;
    box-shadow: 0px 3px 5px #888888;
    padding: 10px;
    border-radius: 4px;
}
.sec-wrapper-box {
    height: 490px;
    width: 390px;
    border-radius: 5px;
    background-color: #ffffff;
    margin-left: 800px;
    margin-top: -415px;
    position: absolute;
}
.sceneone {
    position: absolute;
    left: 39%;
    top: 3%;
    width: 40px;
    height: 40px;
    background-color: #18bb82;
    border: 20px solid #cceaea;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.5);
    animation: animateScene 5s linear infinite;
}
.sceneone:before
{
    content: '';
    position: absolute;
    top: 0;
    left: 50%; 
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.15);
    z-index: 1;
}
.scenethree {
    position: absolute;
    left: 40%;
    width: 40px;
    height: 40px;
    background-color: #51d8b9;
    border: 20px solid #cceaea;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.5);
    animation: animateScene 5s linear infinite;
}
.scenefour {
    position: absolute;
    left: 37%;
    width: 40px;
    height: 40px;
    background-color: #51d8b9;
    border: 20px solid #cceaea;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.5);
}
.scenefive {
    position: absolute;
    left: 25%;
    width: 40px;
    height: 40px;
    background-color: #51d8b9;
    border: 20px solid #cceaea;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.5);
}
.scenefive:before
{
    content: '';
    position: absolute;
    top: 0;
    left: 50%; 
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.15);
    z-index: 1;
}
.scenesix {
    position: absolute;
    left: 73%;
    width: 40px;
    height: 40px;
    background-color: #51d8b9;
    border: 20px solid #cceaea;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.5);
}
.scenesix:before
{
    content: '';
    position: absolute;
    top: 0;
    left: 50%; 
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.15);
    z-index: 1;
}
.fa-lightbulb {
    color: #ffffff;
    margin-top: 11px;
    margin-left: 12.5px;
}
.fa-chart-line {
    color: #ffffff;
    margin-top: 11px;
    margin-left: 12.5px;
}
.fa-file-medical-alt {
    color: #ffffff;
    margin-top: 11px;
    margin-left: 12.5px;
}
.fa-sitemap {
    color: #ffffff;
    margin-top: 10px;
    margin-left: 10px;
}
.fa-angle-double-up {
    color: #ffffff;
    margin-top: 10px;
    margin-left: 15px;   
}
.above_title {
    margin-top: 100px;
}
.above_text {

}
#box_title {
    font-family: 'Nunito', sans-serif;
    font-size: 21px;
    font-weight: 700;
    text-transform: uppercase;
    color: 	#18bb82;
    text-align: center;
}
.second_title {
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    font-weight: bold;
    text-transform: uppercase;
    margin-left: 165px;
    margin-top: 200px;
}
.second_content {
    font-size: 16px;
    font-family: 'Roboto', sans-serif; 
    margin-left: 165px;
    margin-top: -10px;
    line-height: 1.7;
}
.discover_link {
    font-size: 16px;
    font-family: 'Roboto', sans-serif; 
    margin-left: 165px;
    text-decoration: none;
    font-size: 14px;
    color: #ffffff;
    border-top: 1px solid #e5e5e5;
    padding-top: 40px;
    line-height: 10;
}
.fa1 {
    margin-left: 7px;
}
.fa-long-arrow-alt-right {
    font-size: 18px;
}
.under_title {
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    font-weight: bold;
    text-transform: uppercase;
    margin-left: 600px;
    margin-top: 150px;
}
.under_content {
    font-size: 16px;
    font-family: 'Roboto', sans-serif; 
    margin-left: 347.5px;
    margin-top: -10px;
    line-height: 1.7;
    width: 700px;
    text-align: center;
}
.two-main-wrappers {
    width: 45%;
    position: relative;
    margin-left: 50px;
    margin-top: 175px;
    padding-right: 50px;
    border-right: 1px solid #e5e5e5;
    display: inline-block; /*Display inline and maintain block characteristics.*/
    vertical-align: top;
}
.two_main_title {
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
    font-weight: bold;
    text-transform: uppercase;
    margin-left: 80px;
    margin-top: 125px;
    position: relative;
}
.two_main_content {
    font-size: 16px;
    font-family: 'Roboto', sans-serif; 
    margin-left: 80px;
    margin-top: -10px;
    line-height: 1.7;
    position: relative;
}
.plans_link {
    font-size: 16px;
    font-family: 'Roboto', sans-serif; 
    margin-left: 80px;
    text-decoration: none;
    font-size: 14px;
    border-top: 1px solid #e5e5e5;
    color: #ffffff;
    padding-top: 40px;
    line-height: 10;
}
.getting-started-main-wrapper {
    margin-top: 600px;
    vertical-align: auto;
    white-space: nowrap;
}
.getting-started-wrappers {
    border: 1px solid #ffffff;
    background-color: #ffffff;
    padding: 20px 70px 20px 20px;
    margin-left: 125px;
    border-radius: 15px;
    display: inline-block; /*Display inline and maintain block characteristics.*/
    vertical-align: top;
}
.getting_started_title {
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
    color: #51d8b9;
    font-weight: bold;
    text-transform: uppercase;
    margin-left: 65px;
    margin-top: 100px;
    position: relative;
}
.getting_started_content {
    font-size: 16px;
    font-family: 'Roboto', sans-serif; 
    color: #3c3c3c;
    margin-left: 65px;
    margin-top: -10px;
    line-height: 1.7;
    position: relative;
}
.getting_started_link {
    text-decoration: none;
    font-family: 'Nunito', sans-serif;
    font-size: 14px;
    font-weight: 800;
    text-transform: uppercase;
    color: #51d8b9;
    border: 1px solid #ffffff;
    background-color: #ffffff;
    box-shadow: 0px 3px 5px #888888;
    padding: 10px;
    border-radius: 4px;
    margin-left: 65px;
    border-top: 1px solid #e5e5e5;
    line-height: 5;
}
.main-wrapper {
    margin-top: 50px;
}
.main-container {
    display: flex;
    margin-left: 125px;
}
.info-wrapper {
    margin-left: 125px;
    margin-top: 200px;
}
.navigation-links {
    display: flex;
    margin-top: 20px;
    list-style-type: none;
}
.links {
    margin-left: 30px;
    position: relative;
} 
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
.under-main-wrapper {
    white-space: nowrap; /*Prevents Wrapping*/
    height: 160px;
}
.side_menu {
    display: grid;
    grid-template-columns: (1,270px);
    grid-gap: 10px;
    grid-auto-rows: minmax(20px, auto);
}
.tabs-container {
    border: none;
    display: flex;
    margin-left: -10px;
}   
.tabs-container__sidebar {
    width: 125px;
    flex-shrink: 0;
    padding-right: 40px;
    margin-left: 10px;
}
.tabs-container__tabs {
    margin-top: 20px;
    display: block;
    text-decoration: none;
    color: #3c3c3c;
    cursor: pointer;
    font-family: 'Noto Sans', sans-serif;
    font-size: 12px;
    font-weight: 700;
}
.tabs-container__tabs:hover{
    color: #000000;
}
.tabs-container__tabs--active{
    font-weight: 700;
    border: none;
    background-color: #b9ead9;
    color: #18bb82;
    padding: 10px;
    border-radius: 0 25px 25px 0;   
    margin-left: -10px;
}
.tabs-container__content {
    padding: 15px;
    display: none;
    background-color: #ffffff;
    border-radius: 5px;
    color: #3c3c3c;
    width: 100%;
}
.tabs-container__content--active{
    display: block;
}
.tab-box-title{
    font-family: 'Roboto', sans-serif; 
    font-size: 20px;
}
.collapse {
    font-family: 'Roboto', sans-serif; 
    font-size: 14px;
    font-weight: 600;
    padding: 30px;
    cursor: pointer;
}
.collcontent {
    display: none;
    overflow: hidden;
    border-bottom: 1px solid #d8d7d7;
    padding: 0 0 10px 30px;
    font-family: 'Noto Sans', sans-serif;
    font-size: 12px;
}
.intro-style {
    font-family: 'Noto Sans', sans-serif;
    font-size: 12px;
    width: 625px;
    height: 55px;
    margin-top: -10px;
    margin-bottom: 10px;
}
.activ_box_tab {
    width: 650px;
}
.activ_track_table {
    font-family: 'Noto Sans', sans-serif;
    font-size: 12px;
    margin-top: 10px;
}
table {
    width: 100%;
}
  
td, th {
    padding: 8px;
}
.name_row {
    width: 100%;
    background-color: #e7f8f2;
}
#newWork {
    text-decoration: none;
    font-family: 'Nunito', sans-serif;
    font-size: 12px;
    font-weight: 800;
    text-transform: uppercase;
    color: 	#18bb82;
    border: 1px solid #ffffff;
    background-color: #ffffff;
    box-shadow: 0px 3px 5px #888888;
    padding: 7px;
    border-radius: 4px;
    margin-left: 95%;
}
#newWork:hover,
#newWork:focus {
    color:#0e704e;
    text-decoration: none;
    cursor: pointer;
}
.newWorkout {
    display: none;
    position: fixed; 
    z-index: 1;
    padding-top: 100px;
    left: 400px;
    top: 100px;
    width: 40%;
    height: 100%; 
  }
  .workoutEntry {
    font-family: 'Noto Sans', sans-serif;
    font-size: 12px;
    margin: auto;
    padding: 20px;
    border: none;
    width: 80%;
    border-radius: 5px;
    display: inline-block;
    border: 1px solid #ffffff;
    background-color: #ffffff;
    box-shadow: 0px 3px 5px #888888;
  }
  .linksStyle {
      padding: 12px;
  }
  .labelStyle {
      display: block;
      color: #000000;
      margin-bottom: 5px;
  }
  
  .titlelabelStyle {
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #000000;
    margin-left: 25px;
  }
  .titlelabelStyleSignIn {
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #000000;
    margin-left: 82px;
  }
  .inpStyle {
    width: 296px;
    height: 44px;
    padding: 10px 12px; 
    border-radius: 4px;
    border: 1px solid #aaaaaa;
    box-shadow: none;
  }
  .signInInpStyle {
    width: 282px;
    height: 22px;
    padding: 10px 12px;
    border-radius: 4px;
    border: 1px solid #aaaaaa;
    box-shadow: none;
    margin-top: 20px;
  }
  .submit-button-links-style {
    text-decoration: none;
    font-family: 'Nunito', sans-serif;
    font-size: 14px;
    font-weight: 800;
    text-transform: uppercase;
    color: 	#18bb82;
    border: 1px solid #ffffff;
    background-color: #ffffff;
    box-shadow: 0px 3px 5px #888888;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    width: 320px;
  }
  .signin-button-links-style {
    text-decoration: none;
    font-family: 'Nunito', sans-serif;
    font-size: 14px;
    font-weight: 800;
    text-transform: uppercase;
    color: 	#18bb82;
    border: 1px solid #ffffff;
    background-color: #ffffff;
    box-shadow: 0px 3px 5px #888888;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    width: 308px;
    margin-top: 20px;
  }
  .inputStyle {
      display: block;
  }
  .submitWorkout {
    text-decoration: none;
    font-family: 'Nunito', sans-serif;
    font-size: 12px;
    font-weight: 800;
    text-transform: uppercase;
    color: 	#18bb82;
    border: 1px solid #ffffff;
    background-color: #ffffff;
    box-shadow: 0px 3px 5px #888888;
    padding: 7px;
    border-radius: 4px;
    margin-top: 10px;
    float: right;
  }
  .submitWorkout:hover,
  .submitWorkout:focus {
    color: #0e704e;
    text-decoration: none;
    cursor: pointer;
  }
  .closeWorkout {
    text-decoration: none;
    font-family: 'Nunito', sans-serif;
    font-size: 12px;
    font-weight: 800;
    text-transform: uppercase;
    color: 	#ff3333;
    border: 1px solid #ffffff;
    background-color: #ffffff;
    box-shadow: 0px 3px 5px #888888;
    padding: 7px;
    border-radius: 4px;
    margin-top: 10px;
    float: right;
    margin-right: 10px;
  }
  .closeWorkout:hover,
  .closeWorkout:focus {
    color:#cc0000;
    text-decoration: none;
    cursor: pointer;
  }
  .inputStyle {
      border-radius: 4px;
      border: 1px solid #cfcfcf;
      width: 100%;
  }